@media screen and (max-width: 749px) {
    .menu{
        display: grid;
        grid-template-columns: 35% 45% 10% ;
        height: fit-content;
        background-color: #1B204D;
        box-shadow: 2px 2px 2px black;
        align-items: center;
        margin: auto;
        
    }
    .logo-menu{

        width: 100px;
        margin: 5%;
        justify-content: space-evenly;
        border-radius: 50%;
        border: solid 1px white;
    

    }
    ul.menu-pages{
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;


    }
    li{ 
        text-decoration-color: none;
        text-align: center;
        font-size: 20px;
        padding: 8px 30px ;

    }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    button{
        background-color: transparent;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 20px;
        margin-bottom: 10px;
        
    }

    button:hover{
        border: solid 1px red;
        border-radius: 21px;
        background-color: #1b204dd0;
    }
    div.socialMedia a{
        margin-left: 45%;
    }
}

@media screen and (min-width: 750px) { 

    div.menu{
        display: grid;
        grid-template-columns: 5% 90% 5% ;
        height: fit-content;
        background-color: #1B204D;
        box-shadow: 2px 2px 2px black;
        
    }
    .logo-menu{
        
        width: 10vw;
        margin: 5px 0 0 calc(90vw/2);
        justify-content: space-evenly;
        border-radius: 50%;
        border: solid 1px white;
      

    }
    ul.menu-pages{
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 15%;


    }
    li{ 
        text-decoration-color: none;
        text-align: center;
        font-size: 20px;
        padding: 8px 30px ;

    }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    button{
        background-color: transparent;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 20px;
        margin-bottom: 10px;
        
    }

    button:hover{
        border: solid 1px red;
        border-radius: 21px;
        background-color: #1b204dd0;
    }
    div.social-media{
        display: flex;
        flex-direction: column;
        
        color: rgb(253, 44, 44);
  
        text-align: end;
    }
    
}